body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    color: rgb(24, 23, 23);
}

header{   
    display: flex;   
}

#logo-div{
    width: 50%;   
    margin-left: 20px;
}

#menu-div{
    width: 50%;  
    margin-top: 45px;
    margin-right: 10px; 
    text-align: right;    
}


.menu-item{
    color: red;
    padding: 20px;
    text-decoration: none;
    font-size: 30;
    font-weight: 700;
}



#logo{
    font-family: 'Cinzel Decorative', cursive;   
}

#logo-food{
    color: #fc2c4f;
}

#logo-heaven{
    color: #EB6076;
}


#head-banner{ 
    display: flex;
    margin-bottom: 30px;
}

#welcome-messege{
    width: 50%;
    padding-left: 100px;
    padding-top:  50px;
}

#intro-img{
    width: 50%;
}

#intro-img img{
    width: 90%;
}

.title{
    color: rgb(105, 102, 102);
    font-size: 60px;
    font-weight: 700;  
}

.text-highlighter{
    color: #F53455;
}

.buttons{
    text-decoration: none;
    color: white;
    font-size: 22px;
    font-weight: 600;
    background-color: #F53455;
    padding: 15px 20px;
    border-radius: 20px;
    background-image: linear-gradient(to left, #D61E25, #dd8794);
}

#middle-banner{
    display: flex;
    background-color: #e9ced1;
    background-image: url(./photos/second-frame-removebg-preview.png);
    background-repeat: repeat-y;    
}

#chef-photo{
    width: 50%;    
}

#chef-photo img{
    width: 50%;
    padding-left: 200px;
    padding-top: 60px;
}

#about-chef{
    margin-left: 100px;
    width: 50%;
    text-align: justify;
    padding-right: 200px;
    padding-bottom: 50px;
}

#recipies-heading{
    margin-top: 100px;
    text-align: center;
    padding: 0 25%;
}

#recipies{
    display: flex;
    margin-right: 30px;
    margin-left: 30px;
    
}

.recipe-items{
    width: 33%;
    border-radius: 30px;   
    margin: 50px;    
    text-align: center;
    padding: 15px 10px 25px 10px;
    box-shadow: 10px 10px 40px gray;    
}

#recipies img{
    width: 350px;
    border-radius: 25px;
}

.recipe-title{
    color: #F53455;
    font-weight: 700;
}

#see-more-div{
    margin-top: 30px;
    margin-bottom: 50px;
    text-align: center;
}



#response-sample{
    display: flex;
    margin: 70px;
    border-radius: 30px;
    box-shadow: 10px 10px 40px gray;
}

.response-div{
    width: 33%;
    padding: 40px 100px;
    text-align: center;
}

.response-header{
    font-size: 45px;
}

footer{
    background-color: black;
    padding: 100px;
    text-align: center;
}

footer h1{
    font-family: 'Cinzel Decorative', cursive;
    color: white;
    font-size: 40px;
}

footer h3{
    color: white;
}

#heaven-color{
    color: #EB6076
}

footer p{
    color: white;
}
